img, svg{
    width: 250px;
    margin-top: 70px;
}
h4{
    /* color: rgb(243, 143, 126); */
    padding-bottom: 100px;
    margin-bottom: -1px;
    font-weight: 600;
}
span {
    width: 70px ;
    height: 5px ;
    background-color: #000 ;
    margin: 0 10px ;
  }
  
